# Set default behavior to automatically normalize line endings
* text=auto

# Normalize specific files to LF in the repository
*.xml         text eol=lf
*.gitignore   text eol=lf
*.gitattributes text eol=lf

# Allow .java files to use core.autocrlf settings
*.java        text

# Define binary files to exclude from normalization
*.png         binary
*.jpg         binary
*.gif         binary
*.pdf         binary
*.exe         binary
*.dll         binary
